@using Microsoft.AspNetCore.Components.Routing

<nav class="bible-sub-nav">
    <NavLink href="/bible" class="bible-sub-nav-item" Match="NavLinkMatch.All">
        <i class="bi bi-house-door me-1"></i>首頁
    </NavLink>
    <NavLink href="/bible/search" class="bible-sub-nav-item">
        <i class="bi bi-search me-1"></i>查詢
    </NavLink>
    <NavLink href="/bible/read" class="bible-sub-nav-item">
        <i class="bi bi-book me-1"></i>閱讀
    </NavLink>
    <NavLink href="/bible/game" class="bible-sub-nav-item">
        <i class="bi bi-controller me-1"></i>遊戲
    </NavLink>
</nav>
