<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CovenantPromptKey</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-eye-slash" aria-hidden="true"></span> 遮罩/還原
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear" aria-hidden="true"></span> 字典管理
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debug-log">
                <span class="bi bi-journal-text" aria-hidden="true"></span> 除錯日誌
            </NavLink>
        </div>

        <hr class="nav-divider mx-3 my-2" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="help">
                <span class="bi bi-question-circle" aria-hidden="true"></span> 使用說明
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-info-circle" aria-hidden="true"></span> 關於
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report-issue">
                <span class="bi bi-bug" aria-hidden="true"></span> 回報問題
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changelog">
                <span class="bi bi-clock-history" aria-hidden="true"></span> 更新紀錄
            </NavLink>
        </div>
    </nav>
</div>
